<ul class="nav nav-list">
	    {% for follow in follow_list %}
	    <div class="following">
	    <span class="icon">
	        <a href="/user?id={{ follow.id }}"><img src="/{{ follow.icon_path }}" width="30" height="30"></a>
	    </span>
	    <span class="user-name">
	        <a href="/user?id={{ follow.id }}">{{ follow.name }}</a> 
	    </span>
	    <form name="unfollow" method="post" action="/unfollow" onSubmit="return confirm_unfollow()">
	    <span class="unfollow-button">
    	    
                <input type="hidden" name="follow_id", value="{{ follow.id }}">
                <input type="hidden" name="current_page", value="/profile">
		        <button type="submit" class="btn btn-danger">Unfollow</button>		    
		    
	    </span>
	    </form>
	    </div>
    	<li class="divider"></li>
    	{% endfor %}
</ul>
