<form action="/change_password" method="POST" enctype="multipart/form-data" id="password">
  <div class="row">
	<div class = "span10">
	<div class="row">
    	<div class="span2 offset1">Current Password</div>
    	<div class="span2"><input type="password" class="span4" name="current_password"></div>
     </div>
     <hr width="90%" align="left">
	</div>
	<div class = "span10">
	<div class="row">
    	<div class="span2 offset1">New Password</div>
    	<div class="span2"><input type="password" id="new_password" class="span4" name="new_password1"></div>
    </div>
    <hr width="90%" align="left">
	</div>
	<div class = "span10">
    <div class="row">
    	<div class="span2 offset1">New Password (confirm) </div>
    	<div class="span2"><input type="password" id="new_password_conf" class="span4" name="new_password2" onkeyup="checkNewPass(); return false;">
	    	 <span id="confirmMessage2" class="confirmMessage2"></span>
    	</div>
    </div>
    <hr width="90%" align="left">
	</div>
	<div class = "span2" align="center">
	<button type="submit" class="btn btn-primary btn-large">Submit</button>
	</div>
  </div>
</form>

