{% from 'security/_macros.html' import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends 'base.html' %}


{% block content %}
<div class="well">
<div class="page-header">
  <h3>Send password reset instructions</h3>
</div>
<div class="row content">
  <div class="span4 offset1">
     <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
       {{ forgot_password_form.hidden_tag() }}
       {{ render_field_with_errors(forgot_password_form.email) }}  
       <button type="submit" class="btn btn-primary btn-large">Recover Password</button>
     </form>
  </div>
</div>
</div>

{% endblock %}

