{% from 'security/_macros.html' import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends 'base.html' %}


{% block content %}
<div class="well">
<div class="page-header">
  <h3>Reset password</h3>
</div>
<div class="row content">
  <div class="span4 offset1">
	<form action="{{ url_for('security.reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
	  {{ reset_password_form.hidden_tag() }}
	  {{ render_field_with_errors(reset_password_form.password) }}
	  {{ render_field_with_errors(reset_password_form.password_confirm) }}
	  <button type="submit" class="btn btn-primary btn-large">Reset Password</button>
	</form>
  </div>
</div>
</div>

{% endblock %}

