<div class="hero-unit">
	<img src="/img/icon57.png"> 
    <h2 style="display:inline; margin-left:20px;">Welcome to RefMaker</h2>
    
    <br>
    <br>
    <p>
      RefMaker is a simple reference manager for you. You can create and save your references.
      <br>
      Let's enjoy your research life!
      <br>
      <br>
      To use RefMaker, please register and login.
    </p>
    <a href="/login"><button class="btn btn-primary" type="button">Login >></button></a>
    <a href="/register"><button class="btn btn-success" type="button">Register >></button></a>
  </div>
  <div class="row">
  <div class="span12" style="text-align: center;">
  <h2>Amazing Features of RefMaker</h2>
  <br>
  </div>
    <div class="span4">
      <div class="well">
        <h3>1. Manage your references</h3>
        <div align="center">
        <img src="/img/1.png">
        </div>
        <br>
        <p>You can create your reference lists very easily. You are no longer having to worry about the management of your references.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>2. Share your references</h3>
        <div align="center">
        <img src="/img/2.png">
        </div>
        <br>
        <p>Searching references from huge resources is very troublesome. You can share your references with friends.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>3. Follow your friends</h3>
        <div align="center">
        <img src="/img/3.png">
        </div>
        <br>
        <p>You can follow your friends, acquaintances, respected researchers. If your followers are in similar fields, it's easy to discover good references.</p>
    </div>
  </div>